@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background: gray;
}

header {
    background: black;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    color: white;
    font-variant: small-caps;
    font-size: 40px;
}

header > p {
    color: white;
    padding-bottom: 50px;
    font-size: 17px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
}

.normal {
    background: white;
    color: black;
}

.imagem {
    background: rgb(39, 39, 39);
    color: white;
}

.imagem > p {
    background: rgba(0, 0, 0, 0.288);
    width: 400px;
}

footer {
    background: black;
    text-align: center;
}

footer > p {
    padding: 10px;
    color: white;
}