@charset "UTF-8";

body {
    background-color: #FAFAD2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

#pg1 {
    color: #800000;
    background-color: #DAA520;
    text-decoration: underline;
}

h1 {
    color: #800000;
    background-color: #DAA520;
}

h2 {
    color: #8B0000;
}

#botao {
    display: block;
    position: relative;
    text-align: right;
}